ul{
    list-style: upper-roman;
    width: 350px;
}

li ul{
    list-style: lower-roman;
}

.container{
    background-color: black;
    color: green;
    width: 400px;    
    height: 75px;
    overflow: auto;
}