.parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    align-self: flex-start;
    background-color: #dbdbdb;
}

.leftBlock {
    width: 15em;
    background-color: #cccccc;
    flex-shrink: 0;
}

.article {
    background-color: #aaaaaa;
    margin-top: 0.2em;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}

.footerBlock {
    background-color: #cccccc;
    clear: both;
    margin-top: 0.2em;
    padding-top: 0.1px;
}

.clear {
    clear: both;
}

img {
    float: right;
}